.git
.github
.env
.env.*
!.env.example
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
compose.yaml
compose.production.yaml
